.canvas-div {
  display: none;
  position: absolute;
  width: 800px;
  height: 600px;
}

#game-canvas {
  display: none;
}

.dispenser-machines {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.slushee, .hotdog, .popcorn, .pretzel {
  margin: 20px;
}

.slushee:hover, .hotdog:hover, .popcorn:hover, .pretzel:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px -5px, rgba(240, 46, 170, 0.3) -10px -10px, rgba(240, 46, 170, 0.2) -15px -15px, rgba(240, 46, 170, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px;
  cursor: pointer;
}