.header-img {
  width: 800px;
  height: 80px;
  display: flex;
}

.icons {
  display: flex;
  position: absolute;
  height: 70px;
  width: 70px;
  margin-top: 40px;
  margin-left: 50px;
}

#github, #linkedin {
  margin: 5px;
}