@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.header-img {
  width: 800px;
  height: 80px;
  display: flex;
}

.icons {
  display: flex;
  position: absolute;
  height: 70px;
  width: 70px;
  margin-top: 40px;
  margin-left: 50px;
}

#github, #linkedin {
  margin: 5px;
}

// .top-nav {
//   width: 800px;
//   height: 40px;
//   display: flex;
// }

// .social-buttons {
//   float: left;
// }

// .game-buttons {
//   float: right;
// }